body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2a1a12;
  color: #fff;
}

header {
  background: #3b2416;
  padding: 15px;
  text-align: center;
}

main {
  padding: 15px;
}

h2 {
  color: #f5c58b;
  margin-top: 25px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.card {
  background: #4b2f1e;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}

.card.active {
  border: 2px solid #f5c58b;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
}

textarea {
  height: 70px;
}

button {
  width: 100%;
  padding: 15px;
  background: #ff9f1c;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
}

.hidden {
  display: none;
}
