body {
  margin: 0;
  font-family: Arial;
  background: #2b1b10;
  color: #fff;
}

header {
  background: #3a2415;
  text-align: center;
  padding: 15px;
}

main {
  padding: 15px;
}

h2 {
  margin-top: 25px;
  color: #ffcc99;
}

.card {
  background: #4a2e1c;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  cursor: pointer;
}

.card.active {
  border: 2px solid #ffd699;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background: #ff9900;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.hidden {
  display: none;
}
